@import '../../vendor/fonts/fonts.scss';

body {
    font-family: 'Montserrat';
}

h1,h2,h3 {
    font-family: 'Antic Didone';
    font-weight: 400;
}

h1 {
    font-size: 10.4375rem;
}

h2 {
    font-size: 5.625rem;
}

h3 {
    font-size: 3.125rem;
}