//COLORS

$main-color: #462C28;
$main-accent-color: #622F27;
$second-color: #F1F0EE;

//text
$text-h1-color: rgba(186, 184, 170, 0.72);
$text-light-color: #FAF9F9;
$text-dark-color: #1E1C15;
$text-medium: #A2A094;

//validation
$validation-success-color: #72B51D;
$validation-fault-color: #F35239;

//font-sizes
$text-small: 1rem;
$text-medium: 1.625rem