.about {
    display: flex;
    justify-content: space-between;
    gap: 4rem;

    &-container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        font-size: $text-small;
        line-height: 1.5rem;
        width: 40%;
    }

    &__title {
        width: 170%;
        margin-top: 3rem;
    }

    &__image {
        max-width: 55%;
        position: relative;
        z-index: -1;
    }

    &__button {
        align-self: flex-start;
        margin-top: auto;
    }
}