.contact {
    position: relative;
    color: $text-light-color;
    padding: 3rem 0 4rem 0;
    margin: 8rem 0 0 0;

    &__title {
        margin-bottom: 3rem;
    }

    &__image {
        @include background-image;
    }
} 