.form {
    display: grid;
    gap: 3.7rem 1.6rem;
    max-width: 85%;
    margin: 0 auto 0 0;

    &__title {
        margin-bottom: 3rem;
        max-width: 50%;
        
        &_light {
            color: $text-light-color;
        }
    }

    &__subtitle {
        font-size: $text-medium;
        margin-bottom: 3.5rem;
    }

    &_dark {
        color: black;
        border-color: black;
    }

    &_light {
        color: $second-color;
        border-color: $second-color;
    }

    &_large {
        grid-template-columns: 1fr 1fr;
    }
}