.projects {
  &__header {
    position: relative;
    padding: 3rem 0 6.5rem;
  }

  &__subtitle {
    color: $text-light-color;
    font-size: $text-medium;
    margin-top: 4rem;
    max-width: 50%;
    line-height: 1.8rem;
  }

  &__image {
    @include background-image;
  }
}

.project {
  margin: 5rem 0 7rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  &__info-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__subtitle {
    font-size: $text-medium;
    color: $main-accent-color;
    font-weight: 600;
  }

  &__text {
    font-size: $text-small;
    line-height: 1.5rem;
    max-width: 80%;
    flex: 1;
  }

  &__image {
    max-width: 55%;
  }

  &__counter-container {
    position: absolute;
    right: 3rem;
    bottom: -2rem;
    letter-spacing: 0.25rem;
  }

  &__counter {
    font-size: $text-small;

    &_current {
      font-size: $text-medium;
      flex: 1;
    }
  }

  &__button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: $text-medium;

    &_hidden {
      visibility: hidden;
    }
  }
}
